In [4]:
# The code was removed by Watson Studio for sharing.

,NEIGHBORHOOD,ADDRESS,ZIP CODE,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,BATHGATE,4445 PARK AVENUE,10457,1497,1899.0,388500,2019-07-23
1,BATHGATE,1948 BATHGATE AVENUE,10457,2047,1901.0,470000,2019-03-08
2,BATHGATE,2075 BATHGATE AVENUE,10457,1344,1899.0,420000,2019-05-24
3,BAYCHESTER,1137 EAST 213 STREET,10469,1637,1945.0,300000,2019-10-16
4,BAYCHESTER,1409 OAKLEY STREET,10469,1395,1935.0,325000,2019-05-03

#drop columns

In [17]:
droped_data = df_data_0.drop(columns=['ADDRESS', 'ZIP CODE','YEAR BUILT','SALE DATE'])
droped_data.head(10)

  NEIGHBORHOOD  GROSS SQUARE FEET  SALE PRICE
0     BATHGATE               1497      388500
1     BATHGATE               2047      470000
2     BATHGATE               1344      420000
3   BAYCHESTER               1637      300000
4   BAYCHESTER               1395      325000
5   BAYCHESTER               1690      460000
6   BAYCHESTER               1690      500000
7   BAYCHESTER               1648      465000
8   BAYCHESTER               1024      404250
9   BAYCHESTER               1764      498200

#make data frame that include colum price per feet data

In [42]:
df_ppf = pd.DataFrame(data=droped_data['SALE PRICE'] / droped_data['GROSS SQUARE FEET'])
df_ppf = df_ppf.round(2)

droped_data['price_per_feet'] = df_ppf[0]
droped_data = droped_data[droped_data['price_per_feet'] <= 5000]
droped_data.head(10)

  NEIGHBORHOOD  GROSS SQUARE FEET  SALE PRICE  price_per_feet
0     BATHGATE               1497      388500          259.52
1     BATHGATE               2047      470000          229.60
2     BATHGATE               1344      420000          312.50
3   BAYCHESTER               1637      300000          183.26
4   BAYCHESTER               1395      325000          232.97
5   BAYCHESTER               1690      460000          272.19
6   BAYCHESTER               1690      500000          295.86
7   BAYCHESTER               1648      465000          282.16
8   BAYCHESTER               1024      404250          394.78
9   BAYCHESTER               1764      498200          282.43

#data frame groupby neighborhood

In [43]:
grouped_df = droped_data.groupby('NEIGHBORHOOD').mean()
grouped_df.head(10)

                      GROSS SQUARE FEET    SALE PRICE  price_per_feet
NEIGHBORHOOD
ANNADALE                    2370.934426  7.345821e+05      355.723770
ARDEN HEIGHTS               1436.690909  4.497775e+05      318.096848
ARROCHAR                    1448.545455  6.021604e+05      432.725455
ARROCHAR-SHORE ACRES        1741.125000  6.306562e+05      407.165000
BATH BEACH                  1179.764706  8.367568e+05      745.022353
BATHGATE                    1629.333333  4.261667e+05      267.206667
BAY RIDGE                   1621.329787  1.101137e+06      687.821277
BAYCHESTER                  1412.252101  4.166958e+05      309.346639
BEDFORD PARK/NORWOOD        1993.823529  1.411842e+06      841.807647
BEDFORD STUYVESANT          1870.428571  9.624206e+05      526.720357

## make dataframe that include only relevant data(hood and price per feet)

In [52]:
avg_price_final = grouped_df.drop(columns=['GROSS SQUARE FEET', 'SALE PRICE'])
avg_price_final.head(10)

                      price_per_feet
NEIGHBORHOOD
ANNADALE                  355.723770
ARDEN HEIGHTS             318.096848
ARROCHAR                  432.725455
ARROCHAR-SHORE ACRES      407.165000
BATH BEACH                745.022353
BATHGATE                  267.206667
BAY RIDGE                 687.821277
BAYCHESTER                309.346639
BEDFORD PARK/NORWOOD      841.807647
BEDFORD STUYVESANT        526.720357